<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'cad_3_stud', :media => 'all' %>



</head>

<body>

<form class="cad3_form" id="form3" name="form3" method="post" action="">
  <label for="dre">DRE</label>
  </br>
  <input type="text" id="dre" name="dre">
  </br>
  </br>

  <label for="dre">Curso</label>
  </br>
  <input type="text" id="curso" name="curso">
  </br>
  </br>

</form>

</br>
</br>

<a id="editBTN" href="cad_4" class="action-button shadow animate blue">Proximo</a>

</body>

</html>