<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'cad_1', :media => 'all' %>



</head>

<body>

<form class="cad1_form">
  <label for="name">Nome</label>
  </br>
  <input type="text" id="name" name="name">
  </br>
  </br>
  <label for="surname">Sobrenome</label>
  </br>
  <input type="text" id="surname" name="surname">
  </br>
  </br>
  <label for="surname">E-mail</label>
  </br>
  <input type="text" id="email" name="email">
  </br>
  </br>
  <label for="psswrd">Senha</label>
  </br>
  <input type="password" id="pswrd" name="psswrd">
  </br>
  </br>
  <label for="psswrd">Repita a Senha</label>
  </br>
  <input type="password" id="pswrd" name="psswrd">
</form>

</br>
</br>

<a href="cad_2" class="action-button shadow animate blue">Proximo</a>

</body>

</html>