<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'cad_3_teach', :media => 'all' %>



</head>

<body>

<div id="cell_body">

<form class="cad3_form" id="form3" name="form3" method="post" action="">
  <label for="id">ID</label>
  </br>
  <input type="text" id="id" name="id">
  </br>
  </br>

  <label for="lab">Laboratorio</label>
  </br>
  <input type="text" id="lab" name="lab">
  </br>
  </br>
</form>

</br>
</br>

<a id="editBTN" href="cad_4" class="action-button shadow animate blue">Proximo</a>

  </div>

</body>

</html>