<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'cad_3_out', :media => 'all' %>



</head>

<body>

<div id="cell_body">

<form class="cad3_form" id="form3" name="form3" method="post" action="">

</form>

</br>
</br>

<a id="editBTN" href="cad_4" class="action-button shadow animate blue">Proximo</a>

  </div>

</body>

</html>