<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'cad_4', :media => 'all' %>



</head>

<body>

<div id="cell_body">

</br>
</br>

<h1>Seu cadastro foi efetuado. Verifique seu e-mail.</h1>

  <a href="menu" class="action-button shadow animate blue">Voltar</a>

  </div>

</body>

</html>