<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'home', :media => 'all' %>



</head>

<body>

<div id="cell_body">

  <a href="/login" class="action-button shadow animate green">Fazer Login</a>
  </br>
  </br>
  </br>
<a href="/login_fb" class="action-button shadow animate blue">Login com Facebook</a>
  </br>
  </br>
  </br>
<a href="/login_gp" class="action-button shadow animate red">Login com Google+</a>

</div>

</body>

</html>