<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'how_to', :media => 'all' %>



</head>

<body>

<div id="cell_body">

  <div id="content_div">

  <div id="caronae_logo"></div>

  <div id="caronae_label">
    <div id="down_arrow"></div>
    <h3 style="left: 4vw;position: relative">Dar carona (5 pontos)</h3>
  </div>

  <div id="dropdown_tab">
    <h3>Como:</h3>
    <p>
      Baixar o aplicativo Caronaê e se cadastrar, usando sua conta no SIGA. Escolha então uma carona com origem, destino e horário apropriados para você.
    </p>
    <h3>Onde:</h3>
    <p>As caronas ligam a Cidade Universitária a toda região metropolitana do Rio de Janeiro.
      </br>
    Checar disponibilidade no aplicativo Caronaê.</p>
    <h3>Quando:</h3>
    <p>Checar disponibilidade no aplicativo Caronaê.</p>
    <h3>Parceiro:</h3>
    <p>Caronaê - contato pelo aplicativo.</p>
  </div>

  <div id="caronae_label2">
    <div id="down_arrow2"></div>
    <h3 style="left: 4vw;position: relative">Pegar carona (3 pontos)</h3>
  </div>

  <div id="gota_logo"></div>

    <div id="gota_label">
      <div id="down_arrow2"></div>
      <h3 style="left: 4vw;position: relative">Doar sangue (5 pontos)</h3>
    </div>

</div>

  <a href="/menu" class="action-button shadow animate blue">Voltar</a>



</div>

</body>

</html>