<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'join_org', :media => 'all' %>



</head>

<body>

<div id="cell_body">

  </br>
  </br>

  <select name="organizations" style="left: -2vw; position: relative;">
    <option value="org_1">Organizaçao 1</option>
    <option value="org_2">Organizaçao 2</option>
    <option value="org_2">Organizaçao 3</option>
    <option value="org_2">Organizaçao 4</option>
  </select>

  <a href="joined" class="action-button shadow animate red">Enviar</a>

  <a href="menu" class="action-button shadow animate blue">Voltar</a>

</div>

</body>

</html>