<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'join', :media => 'all' %>



</head>

<body>

<div id="cell_body">
  <form class="join_form">
    <label for="name">Nome</label>
    </br>
    <input type="text" id="name" name="name">
  </form>

  <a href="/menu" class="action-button shadow animate blue">Voltar</a>
</div>



</body>

</html>