<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'join_org', :media => 'all' %>



</head>

<body>

<div id="cell_body">

  </br>
  </br>

  <select name="organizations" style="left: -2.5vw ;top: 30vh; position: relative;">
    <option value="org_1">SDGEI</option>
    <option value="org_2">Sangue UFRJ</option>
    <option value="org_3">Beijo na Alma</option>
  </select>

  <a href="joined" class="action-button shadow animate red">Enviar</a>

  <a href="join" class="action-button shadow animate blue">Voltar</a>

</div>

</body>

</html>