<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'join', :media => 'all' %>



</head>

<body>

<div id="cell_body">


  <a href="/new_org" class="action-button shadow animate green">Cadastrar Organizaçao</a>

  <a href="/join_org" class="action-button shadow animate red">Vincular Organizaçao</a>

  <a href="/menu" class="action-button shadow animate blue">Voltar</a>
</div>



</body>

</html>