<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'login', :media => 'all' %>



</head>

<body>

<div id="cell_body">

<form class="account_login">
  <label for="account">E-mail</label>
  </br>
  <input type="text" id="account" name="account">
  </br>
  </br>
  <label for="psswrd">Senha</label>
  </br>
  <input type="password" id="pswrd" name="psswrd">
</form>

</br>
</br>

<a href="/menu" class="action-button shadow animate blue">Login</a>
</br>
</br>
</br>
</br>
<a href="/cad_1" class="action-button shadow animate red">Cadastre-se</a>

</div>

</body>

</html>