<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'login_gp', :media => 'all' %>



</head>

<body>

<div id="cell_body">


</div>

</body>

</html>