<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'menu', :media => 'all' %>



</head>

<body>

<div id="cell_body">

  <a href="#side_bar" id="hamburguer_menu"><div id="hamburguer_icon" ></div></a>

  <!-- MENU LATERAL -->
  <nav id="side_bar">
    <!-- La cruz para cerrar el menu lateral -->
    <a href="#" id="close_button"><div id="close_icon"></div></a>


    <ul>
      <li><a href="#"><span class="ion-settings"></span>Configuración</a></li>
      <li><a href="#"><span class="ion-edit"></span>Escribir</a></li>
      <li><a href="#"><span class="ion-trash-a"></span>Borrar</a></li>
      <li><a href="#"><span class="ion-funnel"></span>Filtrar</a></li>
      <li><a href="#"><span class="ion-paper-airplane"></span>Enviar</a></li>
    </ul>
  </nav>

  <a href="/how_to" class="action-button shadow animate blue">Como Ganhar Pontos</a>
</br>
</br>
</br>
</br>
  <a href="/point_check" class="action-button shadow animate green">Consulta de Pontos</a>
  </br>
  </br>
  </br>
  </br>
  <!--<a href="/ranking" class="action-button shadow animate purple">Ranking</a>
</br>
</br>
</br>
</br>-->
<a href="/redeem" class="action-button shadow animate red">Resgate de Pontos</a>
</br>
</br>
</br>
</br>
<a href="/join" class="action-button shadow animate yellow">Quero Contribuir</a>

</div>

</body>

</html>