<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'menu', :media => 'all' %>



</head>

<body>

<div id="cell_body">

<a href="/point_check" class="action-button shadow animate green">Consulta de Pontos</a>
</br>
</br>
</br>
</br>
<a href="/how_to" class="action-button shadow animate blue">Como Ganhar Pontos</a>
</br>
</br>
</br>
</br>
<a href="/redeem" class="action-button shadow animate red">Resgate de Pontos</a>
</br>
</br>
</br>
</br>
<a href="/join" class="action-button shadow animate yellow">Quero Contribuir</a>

</div>

</body>

</html>