<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'menu_admin', :media => 'all' %>



</head>

<body>

<div id="cell_body">

  <div id="boa_logo"></div>

  <a href="#side_bar" id="hamburguer_menu"><div id="hamburguer_icon" ></div></a>

  <!-- MENU LATERAL -->
  <nav id="side_bar">
    <!-- La cruz para cerrar el menu lateral -->
    <a href="#" id="close_button"><div id="close_icon"></div></a>


    <ul>
      </br></br></br>
      <li><a href="#"><span class="ion-settings"></span>Conectar Contas</a></li>
      <li><a href="#"><span class="ion-edit"></span>Perguntas Frequentes</a></li>
      <li><a href="#"><span class="ion-trash-a"></span>Feedback</a></li>
      <li><a href="#"><span class="ion-funnel"></span>Logout</a></li>
    </ul>
  </nav>

  <a href="/how_to" class="action-button shadow animate blue">Como Ganhar Pontos</a>
  </br>
  </br>
  </br>
  </br>
  <a href="/point_check" class="action-button shadow animate green">Consulta de Pontos</a>
  </br>
  </br>
  </br>
  </br>
  <!--<a href="/ranking" class="action-button shadow animate purple">Ranking</a>
</br>
</br>
</br>
</br>-->
  <a href="/redeem" class="action-button shadow animate red">Resgate de Pontos</a>
  </br>
  </br>
  </br>
  </br>
  <a href="/join" class="action-button shadow animate yellow">  Quero</br>Contribuir</a>
  <a href="/my_orgs" class="action-button shadow animate purple" style="padding: 10px 13px;">  Minhas</br>Organizações</a>

</div>

</body>

</html>