<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'my_orgs', :media => 'all' %>



</head>

<body>

<div id="cell_body">


  <select name="organizations" style="left: 9vw; position: relative;top: 40vh;">
    <option value="org_1">Organizaçao 1</option>
    <option value="org_2">Organizaçao 2</option>
    <option value="org_2">Organizaçao 3</option>
    <option value="org_2">Organizaçao 4</option>
  </select>

  <a href="/menu_org" class="action-button shadow animate red">Seguir</a>

  <a href="/menu_admin" class="action-button shadow animate blue">Voltar</a>
</div>



</body>

</html>