<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'new_org_sub_action', :media => 'all' %>



</head>

<body>

<div id="cell_body">

  </br>
  </br>

  <h1>Parceiro de Açao foi cadastrado.</h1>

  <a href="/menu" class="action-button shadow animate blue">Voltar</a>

</div>

</body>

</html>