<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'point_check', :media => 'all' %>



</head>

<body>

<div id="cell_body">

  <p style="left: 10vw;">Boa, Fulano! </br> Voce possui</p>
<h1 id="my_points">512</h1>
  <p style="left: 12vw;">pontos!</p>

  </br>
  </br>

  <a href="#" class="action-button shadow animate red">Extrato</a>
  <a href="#extract" class="action-button shadow animate purple">Ranking</a>

  </br>

  <div class="table_area">
<table class="responstable" id="extract" >
  <tr>
    <th>Data</th>
    <th>Serviço</th>
    <th style="width: 20vw;">Pontos</th>
  </tr>

  <tr>
    <td>19/05/16</td>
    <td>Doaçao de Sangue</td>
    <td>5</td>
  </tr>

  <tr>
    <td>19/05/16</td>
    <td>Deposito de Oleo Usado</td>
    <td>3</td>
  </tr>

  <tr>
    <td>19/05/16</td>
    <td>Uso do Transporte Eletrico</td>
    <td>3</td>
  </tr>

  <tr>
    <td>18/05/16</td>
    <td>Oferta de Carona</td>
    <td>5</td>
  </tr>
</table>

  <table class="responstable">
    <tr>
      <th>Name</th>
      <th>Points</th>
    </tr>

    <tr>
      <td>Alice</td>
      <td>70</td>
    </tr>

    <tr>
      <td>Bob</td>
      <td>67</td>
    </tr>

    <tr>
      <td>Eve</td>
      <td>56</td>
    </tr>

    <tr>
      <td>Charles</td>
      <td>23</td>
    </tr>

  </table>
</div>

  <p style="position: absolute; bottom: 10vh;left: 1vw;">Veja o que voce ja pode ganhar!</p>

  <a href="/menu" class="action-button shadow animate blue">Voltar</a>

</div>
</body>

</html>