<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'point_check', :media => 'all' %>



</head>

<body>

<div id="cell_body">

  <p style="left: 10vw;">Voce possui</p>
<h1 id="my_points">1.618</h1>
  <p style="left: 12vw;">pontos!</p>

</br>

<table class="responstable">

  <tr>
    <th>Name</th>
    <th>Points</th>
  </tr>

  <tr>
    <td>Alice</td>
    <td>70</td>
  </tr>

  <tr>
    <td>Bob</td>
    <td>67</td>
  </tr>

  <tr>
    <td>Eve</td>
    <td>56</td>
  </tr>

  <tr>
    <td>Charles</td>
    <td>23</td>
  </tr>

</table>

  <a href="/menu" class="action-button shadow animate blue">Voltar</a>

<!--<table id="points_ranking">
  <tr>
    <th>Nome</th>
    <th>Pontos</th>
  </tr>
  <tr>
    <td>Alice</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Bob</td>
    <td>79</td>
  </tr>
  <tr>
    <td>Charles</td>
    <td>67</td>
  </tr>
  <tr>
    <td>Denise</td>
    <td>65</td>
  </tr>
  <tr>
    <td>Eva</td>
    <td>63</td>
  </tr>
  <tr>
    <td>Fred</td>
    <td>57</td>
  </tr>
  <tr>
    <td>George</td>
    <td>53</td>
  </tr>
  <tr>
    <td>Henrique</td>
    <td>49</td>
  </tr>
  <tr>
    <td>Ian</td>
    <td>43</td>
  </tr>
  <tr>
    <td>Jolene</td>
    <td>42</td>
  </tr>
</table>-->
</div>
</body>

</html>