<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'ranking', :media => 'all' %>



</head>

<body>

<div id="cell_body">

  <div id="podium_img"></div>

  <table class="responstable">

    <tr>
      <th>Name</th>
      <th>Points</th>
    </tr>

    <tr>
      <td>Alice</td>
      <td>70</td>
    </tr>

    <tr>
      <td>Bob</td>
      <td>67</td>
    </tr>

    <tr>
      <td>Eve</td>
      <td>56</td>
    </tr>

    <tr>
      <td>Charles</td>
      <td>23</td>
    </tr>

  </table>

  <a href="/menu" class="action-button shadow animate blue">Voltar</a>

</div>
</body>

</html>