<!DOCTYPE html>
<html>
<head>
  <title>Hackathon 2016</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'redeem', :media => 'all' %>



</head>

<body>

<div id="cell_body">

  <div id="content_div">

    <div id="beijo_logo"></div>

    <div id="beijo_label">
      <input type="checkbox"style="position: absolute; top: 3vh; left: 1vw;" ><h3 style="left: 4vw;position: relative">Desconto (2 Pontos)</h3>
    </div>



    <div id="sdgei_logo"></div>

    <div id="sdgei_label">
      <input type="checkbox"style="position: absolute; top: 3vh; left: 1vw;" ><h3 style="left: 4vw;position: relative">Entrada gratuita (20 Pontos)</h3>
    </div>

    <div id="sdgei_label2">
      <input type="checkbox"style="position: absolute; top: 3vh; left: 1vw;" ><h3 style="left: 4vw;position: relative">Minicursos (20 Pontos)</h3>
    </div>


  </div>

  <a href="/menu_org" class="action-button shadow animate red">Resgatar</a>

  <a href="/menu" class="action-button shadow animate blue">Voltar</a>



</div>

</body>

</html>