body {
  padding: 50px;
}

.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button {
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
}

.blue {
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  left: 9vw;
  position: absolute;
  top: 80vh;
}

.red {
  position: absolute;
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31;
  left: 8vw;
  top: 65vh;
}

.green {
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
}

.yellow {
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
}

.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}

#cell_body{
  width: 30vw;
  height: 100vh;
  position: absolute;
  left: 35vw;
  background-color: #CCCCCC;
  top: 0;
}

#cell_body h1{
  position: relative;
  width: 20vw;
  left: 6vw;
  top: 17vh;
}

#caronae_logo{
  background-image: image_url("caronae.png");
  width: 20vw;
  height: 10vh;
  background-size: 100%;
  position: absolute;
  left: 5vw;
  top:5vh;
}

.menu_org_form{
  position: absolute;
  left: 8vw;
  top: 30vh;
}